<h3><span id="type" style="font-family:'Courier New', Courier, monospace; font-weight:bold">All Public Stock
        Stories</span></h3>
<br>
<div class="row">
    {{#each stories}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                {{{editIcon user ../user _id}}}
            </div>
            <div class="card-content center-align">
                <h5>{{title}}</h5>
                <br>
                <div class="chip">
                    {{!-- <img src="{{user.image}}" alt=""> --}}
                    <a href="/stories/user/{{user._id}}">By {{user.firstName}} {{user.lastName}}</a>
                </div>
            </div>
            <div class="card-action center-align">
                <a href="/stories/{{_id}}" class="btn red">View Post</a>
            </div>
        </div>
    </div>

    {{else}}
    <p>No stories to display</p>


    {{/each}}
</div>